<div class="widget">
    <rd-widget-header>
        <div class="widget-header ng-binding">
            <i class="fas icon" data-translate="testcaseApp.rightOneToManyUnidirectional.home.title">RightOneToManyUnidirectional</i>
        </div>
    </rd-widget-header>
</div>
<jhi-alert></jhi-alert>
<div class="row top">
    <div class="pull-right">
        <button class="btn btn-primary" ui-sref="rightOneToManyUnidirectional.new">
            <span class="glyphicon glyphicon-plus"></span>
            <span data-translate="testcaseApp.rightOneToManyUnidirectional.home.createLabel">
                Create new RightOneToManyUnidirectional
            </span>
        </button>
    </div>
    <div class="col-xs-8 no-padding-right">
        <form name="searchForm" class="form-inline">
            <div class="input-group pull-right">
                <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'testcaseApp.rightOneToManyUnidirectional.home.search' | translate }}">
                <span class="input-group-btn width-min">
                    <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                    <button class="btn btn-info" ng-click="vm.clear()">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<br/>
<div class="table-responsive">
    <table class="jh-table table table-striped">
        <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="leftUnidirectional.id"><span data-translate="testcaseApp.rightOneToManyUnidirectional.leftUnidirectional">LeftUnidirectional</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rightOneToManyUnidirectional in vm.rightOneToManyUnidirectional track by rightOneToManyUnidirectional.id">
                <td><a ui-sref="rightOneToManyUnidirectional-detail({id:rightOneToManyUnidirectional.id})">{{rightOneToManyUnidirectional.id}}</a></td>
                    <td>
                        <a ui-sref="leftUnidirectional-detail({id:rightOneToManyUnidirectional.leftUnidirectional.id})">{{rightOneToManyUnidirectional.leftUnidirectional.id}}</a>
                    </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="rightOneToManyUnidirectional-detail({id:rightOneToManyUnidirectional.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="rightOneToManyUnidirectional.edit({id:rightOneToManyUnidirectional.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="rightOneToManyUnidirectional.delete({id:rightOneToManyUnidirectional.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
</div>
