<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLeftBidirectionalLabel" data-translate="testcaseApp.leftBidirectional.home.createOrEditLabel">Create or edit a LeftBidirectional</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.leftBidirectional.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.leftBidirectional.id" readonly />
        </div>
        <div class="form-group">
            <label data-translate="testcaseApp.leftBidirectional.recursiveChildOneToOneBidirectional" for="field_recursiveChildOneToOneBidirectional">RecursiveChildOneToOneBidirectional</label>
            <select class="form-control" id="field_recursiveChildOneToOneBidirectional" name="recursiveChildOneToOneBidirectional" ng-model="vm.leftBidirectional.recursiveChildOneToOneBidirectional" ng-options="leftBidirectional as leftBidirectional.id for leftBidirectional in vm.recursiveChildOneToOneBidirectional | orderBy:'id' track by leftBidirectional.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="testcaseApp.leftBidirectional.rightManyToManyBidirectional" for="field_rightManyToManyBidirectional">RightManyToManyBidirectional</label>
            <select class="form-control" id="field_rightManyToManyBidirectional" multiple name="rightManyToManyBidirectional" ng-model="vm.leftBidirectional.rightManyToManyBidirectional" ng-options="rightManyToManyBidirectional as rightManyToManyBidirectional.id for rightManyToManyBidirectional in vm.rightManyToManyBidirectional track by rightManyToManyBidirectional.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="testcaseApp.leftBidirectional.rightManyToOneBidirectional" for="field_rightManyToOneBidirectional">RightManyToOneBidirectional</label>
            <select class="form-control" id="field_rightManyToOneBidirectional" name="rightManyToOneBidirectional" ng-model="vm.leftBidirectional.rightManyToOneBidirectional" ng-options="rightManyToOneBidirectional as rightManyToOneBidirectional.id for rightManyToOneBidirectional in vm.rightManyToOneBidirectional track by rightManyToOneBidirectional.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="testcaseApp.leftBidirectional.rightOneToOneBidirectional" for="field_rightOneToOneBidirectional">RightOneToOneBidirectional</label>
            <select class="form-control" id="field_rightOneToOneBidirectional" name="rightOneToOneBidirectional" ng-model="vm.leftBidirectional.rightOneToOneBidirectional" ng-options="rightOneToOneBidirectional as rightOneToOneBidirectional.id for rightOneToOneBidirectional in vm.rightOneToOneBidirectional | orderBy:'id' track by rightOneToOneBidirectional.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
